{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container text-center border">
        <div class="row my-5">
            <div class="col">
                <h1>Contact</h1>
                <p>Pour me contacter</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <i class="fas fa-phone-alt"></i> 06.23.55.68.64
            </div>
            <div class="col">
                <i class="fas fa-envelope"></i> yannickbiheul@outlook.fr
            </div>
        </div>
    </div>

{% endblock %}