{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid text-center" style="
        background: linear-gradient(45deg, rgba(0,0,0,0.3)50%, rgba(0,0,0,0.3)50%), url(/images/quimper.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 40px 0;">
        <div class="jumbotron d-flex flex-column align-items-center" style="color: #fff;">
            <h1>Yannick Biheul</h1>
            <p class="lead my-3">Ce site est une vitrine de mon parcours, mes projets et mes expériences.</p>
        </div>
        <hr class="my-5" width="50%" style="margin: auto;">
        <p class="lead">
            <a href="{{ path('projects') }}" class="btn btn-primary btn-lg" role="button">
                <i class="fas fa-info-circle"></i> 
                En savoir plus
            </a>
        </p>
    </div>

{% endblock %}
