{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <h1 class="text-center">Modification du projet</h1>
        {{ form(form) }}
    </div>

{% endblock %}